# Ignore everything
*

# Except these files
!.gitignore
!docker-compose.yaml
!requirements.txt
!readme.md

# Except these directories and their contents
!/app
!/app/*
!/app/plugin
!/app/plugin/*

# Ignore specific files and directories
app/bot.py
__pycache__/
.env
.venv